.Profile-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.bet-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Profile__top {

    padding-top: 10px;
    padding-left: 10px;
    color: white;
    background-color: rgb(98, 73, 156);
}

.edit-p{
    padding-left: 20px;
}

.Profile_bottom {
    border-color: rgb(98, 73, 156);
    border-style: solid;
}